<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    
    <bean id="mathcheatreference" class="com.seleniumExpress.ObjectInjection.MathCheating"/>
    <bean id="sciencecheatreference" class="com.seleniumExpress.ObjectInjection.ScienceCheat"/>
    
    <bean id="stu" class = "com.seleniumExpress.ObjectInjection.Student">
    <property name="id" value ="1122"/>
    <property name="cheat" ref="mathcheatreference"/> 
    
    </bean>
    
    <bean id="other" class = "com.seleniumExpress.ObjectInjection.AnotherStudent">
    <property name="id" value ="1122"/> 
    <property name="cheat" ref="sciencecheatreference"/>
   
    </bean>

</beans>